nav, body, header, main, footer, div, img, h1, ul{
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: #000;
}
img {
    max-width: 100%;
    display: block;
}
header {
    position: sticky;
    top: 0;
    height: 100px;
    background-color: #000;
}
header img{
    margin: 0 auto;
    height: 100px;
    width: 100px;
}
nav {
    padding: 1%;
    margin-bottom: 1%;

}

nav ul {
    list-style-type: none;
    text-align: center;
}
nav li {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    border-top: 1px solid #fff;
}
nav li:first-child{
    border-top: none;
}
nav li a {
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
}
#hero img{
    margin: 0 auto;
}
main {
    background-color: #fff;
    padding: 1.15%;
    font-size: 1.25em;
}
.action {
    font-size: 1.35em;
    color: #666600;
    font-weight: bold;
}
.external{
    color: #666600;
    text-decoration: none;
}

.round {
    border-radius: 8px;
}

.contact-email-link {
    color: #666600;
    text-decoration: none;
}
footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0.1em;
}
footer p a {
    color: #fff;
    text-decoration: none;
}


/* show mobile class hide tablet-desktop class */

.mobile {
    display: block;
    background-color: #fff;
}
.tablet-desktop {
    display: none;
}

.tel-link {
    background-color: #404040;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
}

.tel-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

.hours {
    margin-left: 10%;
    
}


/* media query for tablet viewport */
@media screen and (min-width: 630px){
    header {
        position: static;
        padding-bottom: 2%;
    }
    nav li {
        display: inline-block;
        border-top: none;
        border-right: 2px solid #fff;
    }
    nav li:last-child {
        border-right: none;
    }
    nav li a {
        padding: 0.1em 0.75em;
    }
    nav li a:hover {
        color: #000;
        background-color: #fff;
    }
    .mobile {
        display: none;
    }
    .tablet-desktop {
        display: block;
    }
    
    /* tablet viewport: style rules for main content area */
    main ul {
        margin: 0 0 4% 10%;
    }
    #exercises {
        border-top: 1px solid #000;
        background: linear-gradient(to right, #ccc, #fff);
        border-bottom: 1px solid #000;
        background-color: #f2f2f2;
        padding: 1% 2%;
    }
    #exercises dt {
        font-weight: bold;
    }
    #exercises dd {
        padding: 0.5% 1% 2% 0;
    }
    .tel-num {
        font-size: 1.25em;
    }
    .map {
        width: 600px;
        height: 450px;
    }
    
}
/* media query for desktop */
@media screen and (min-width: 1015px){
    body{
        background-color: #000;
    }
    header {
        width: 25%;
        float: left;
        padding-bottom: 0;
    }
    nav {
        float: right;
        width: 70%;
        margin: 2em 1em 0 0;
    }
    nav ul {
        text-align: right;
    }
    nav li a {
        padding: 0.5em 1em;
    }
    main {
        clear: left;
    }
    main h1 {
        font-size: 1.8em;
    }
    #weights, #cardio, #training {
        width: 29%;
        float: left;
        margin: 0 2%;
    }
    #exercises {
        clear: left;
    }
    
}
/* media query for larger desktop */
@media screen and (min-width: 1920px){
    #container {
        width: 1920px;
        margin: 0 auto;
    }
}
/* media query for print */
@media print{
    body {
        background-color: #fff;
        color: #000;
    }
}

